@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css';

h1 {
  padding: 60px;
}

p {
  padding: 20px;
}
body{
	background-image: url("1.jpg");
	background-position: center;;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

}
.jumbotron{
opacity: .4;
margin: 50px;
}

.header {
  text-align: center;
}

.input {
  text-align: center;
}
